
$colorGray: #777;
$center: center;
$cienPorciento: 100%;
$cuatrocientosPx: 400px;
$setentaPx: 70px;
$fontFamily: 'Quicksand', sans-serif;
$colorf8: #f8f8f8;
$colorWhite: #fff;
$colorBlack: #000;
$colore6: #e6e6e6;
$flex: flex;